.burger-button-wrapper {
  width: 12.21vw; //12.21vw;
  height: 12.21vw; //12.21vw;
  position: fixed;
  top: 3.8vw; //14px;
  right: 4.07vw; //16px;
  z-index: 12;
  border-radius: 50%;
}
.burger-button {
  width: 12.28vw; //12.21vw;
  height: 12.28vw; //48px;
  position: fixed;

  //   position: fixed;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: $dark-text-color;
  border-radius: 50%;
  border: 1px solid transparent;
  outline: none;
  transition: background-color 0.5s ease;

  .lines {
    position: fixed;

    display: inline-block;
    width: 6.11vw; //24px;
    height: 6.11vw; //26px;
    // position: relative;
    background: transparent;
    pointer-events: none;

    span:first-child,
    span:last-child {
      background-color: $background-yellow;
      width: 6.11vw; //24px; //6.11vw;
      height: 1.5px;
      position: absolute;
      border-radius: 1px;
      left: 0;
      transition: top 0.5s ease, transform 0.6s 0.05s ease,
        background-color 0.5s ease;
    }
    span:first-child {
      top: 2.05vw; //8px; // 2.04vw;
    }
    span:last-child {
      bottom: 2.04vw; //8px; //2.04vw;
    }
  }
}

.burger-button.x.close {
  background-color: $background-yellow;
  transition: background-color 0.5s ease;

  .lines {
    // transition: top 0.3s 0.1s ease, transform 0.3s ease;

    span:first-child,
    span:last-child {
      top: 3.05vw; // 12px;
      background-color: $dark-text-color;
      transition: top 0.5s ease, transform 0.6s 0.05s ease,
        background-color 0.5s ease;
    }
    span:first-child {
      transform: rotate(45deg);
    }
    span:last-child {
      transform: rotate(-45deg);
    }
  }
}

@include for-tablet-up {
  .burger-button-wrapper {
    width: 3.33vw;
    height: 3.33vw;
    right: 1.67vw;
    top: 1.67vw;
  }
  .burger-button {
    width: 3.33vw;
    height: 3.33vw;
    // right: 1.67vw;
    // top: 1.67vw;

    .lines {
      width: 1.67vw;
      height: 1.67vw;
      background: transparent;
      span:first-child,
      span:last-child {
        left: 0;
        content: '';
        width: 1.67vw;
        height: 1.5px;
        position: absolute;
        left: 0;
      }
      span:first-child {
        top: 0.56vw;
      }
      span:last-child {
        bottom: 0.56vw;
      }
    }
  }

  .burger-button.x.close {
    .lines {
      transition: top 0.3s 0.1s ease, transform 0.1s ease;

      span:first-child,
      span:last-child {
        top: 0.83vw;
      }
    }
  }
}
