.cases {
  position: relative;
  background-color: $background-yellow;
}

.cases__item {
  position: relative;
  z-index: 6;
  background-color: $background-yellow;
  transition: background-color 2s ease;
  transition-delay: 1s;
  width: 100%;

  .cases__container {
    // height: 100vh;

    padding-bottom: 20.5vw;
    padding-top: 8vw;
    padding-left: 6vw;
    padding-right: 6vw;
    background-color: $background-yellow;
    opacity: 1;
    transition: opacity 2s ease;
    transition-delay: 1s;
  }
}
#case-2 {
  z-index: 3;
}
#case-3 {
  z-index: 4;
}
#case-4 {
  z-index: 5;
}
.cases__item.absolute {
  position: absolute;
}
.cases__item.fixed {
  position: sticky;
  top: 0;
  z-index: 2;
}
.cases__item.background-grey {
  background-color: rgba(22, 46, 46);
  transition: background-color 2s ease;
  transition-delay: 1s;

  .cases__container {
    opacity: 0.4;
    transition: opacity 2s ease;
    transition-delay: 1s;
  }
}

.cases__item:not(:first-child) {
  border-top: 0.5px solid $dark-text-color;
}

.cases__item.cases__item--guides {
  border-top: none;
  .cases__container {
    padding-bottom: 15vw;
  }
}

.cases .cases__container {
  background-color: $background-yellow;
}

// .cases .cases__item:first-child {
//   z-index: 0;
//   position: absolute;
//   left: 0;
//   top: 0;
// }
// .cases .cases__item:nth-child(2) {
//   position: absolute;
//   bottom: 300%;
//   left: 0;
//   z-index: 2;
//   // animation: cover 1.5s forwards;
//   // animation-delay: 2ms;
// }
// .cases .cases__item:last-child {
//   position: absolute;
//   bottom: 400%;
//   left: 0;
//   z-index: 3;
//   // animation: cover 1.5s forwards;
//   // animation-delay: 2ms;
// }

.cases__item-image {
  display: flex;
  justify-content: center;
  margin-bottom: 8vw;
  margin-right: auto;
  margin-left: auto;

  width: 76.75vw;
  // height: 86.25vw;
}
.cases__item-top {
  display: flex;
  justify-content: space-between;
  font-size: 3.25vw;
  font-weight: 500;
  letter-spacing: -0.013em;
  line-height: 1.31;
  margin-bottom: 6.6vw;

  > div:first-child {
    > span:first-child {
      margin-right: 8vw;
    }
  }
  > div:last-child {
    margin-left: 17.01vw;
  }

  a {
    text-transform: uppercase;
    text-decoration: underline;
    color: inherit;
  }
}
.cases__item-company {
  text-align: center;
  font-size: 5.5vw;
  line-height: 1.27;
  font-weight: 500;
  letter-spacing: -0.0038em;
  margin-bottom: 4vw;
}
.cases__item-lid {
  max-width: 86.25vw;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: 19.5vw;
  font-weight: 900;
  margin-bottom: 8vw;

  line-height: 0.897;
  // margin-bottom: 8vw;
  letter-spacing: 0.1vw;
}
.splitText.cases__item-lid .word {
  line-height: 0.897;
}
.animated-button.cases__item-link {
  margin-left: auto;
  margin-right: auto;
}
.cases__item-description {
  font-size: 4.25vw;
  font-weight: 400;
  text-align: center;
}
@include for-tablet-up {
  .cases__item {
    box-sizing: border-box;
    // height: 100vh;

    .cases__container {
      height: 100%;
      box-sizing: border-box;
      max-height: 100%;
      padding-left: 4.5vw;
      padding-right: 4.5vw;
      padding-top: 2.6vw; //3.9vh;
      padding-bottom: 8.89vw;
    }
  }
  .cases--study .cases__item:first-child {
    border-top: 0.5px solid $dark-text-color;
  }
  .cases--study .cases__item {
    height: unset;
  }

  .cases__item.cases__item--guides .cases__container {
    // box-sizing: border-box;
    // height: 100vh;
    padding-top: 10vw; //16.4vh; //6vh;
    padding-bottom: 12.5vw; //10vw;
  }

  // .cases__item--guides {
  //   padding-top: 11.67vw;
  //   padding-bottom: 19.5vw;
  // }
  .cases__item-image {
    display: block;
    margin-bottom: 0;

    // img {
    //   width: 44.44vw;
    //   height: 49.93vw;
    // }
  }

  .cases__item-top {
    font-size: 0.97vw;
    margin-bottom: 0; //9.77vh; //7.2vw; //5vw;
    justify-content: left;

    > div:first-child {
      > span:first-child {
        margin-right: 4.44vw;
      }
    }
  }
  .cases__item-content {
    display: flex;
    height: 100%;
    // align-items: center;
    gap: 10vw;
    text-align: left;
  }

  .cases__item-image {
    // max-width: 44.44vw;
    //height: 87.5vh; //49.93vw;
    // width: auto;
    margin-right: 0;
    // margin-bottom: 8vw;

    order: 2;
    // margin-left: 10vw;
    img {
      // width: 100%;
      max-height: 100%;
    }
  }
  .cases__item-company {
    font-size: 1.6vw;
    line-height: 1.39;
    text-align: left;
    // margin-top: 4.9vw;
    margin-bottom: 3.125vh; //2.22vw;
  }
  .cases__item-lid {
    // min-width: 36.67vw;
    max-width: 43.67vw;

    min-width: 39.67vw;
    text-align: left;

    font-size: 8.3vw;
    line-height: 0.92;
    letter-spacing: 0.04vw;
    margin-bottom: 3.125vh;
  }
  #case-2 {
    .cases__item-lid {
      // width: 33vw;
      min-width: 33.67vw;
    }
  }
  .cases__item-text {
    display: flex;
    margin-top: 19.53vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .cases--study .cases__item-text {
    gap: 15.42vw;
    justify-content: unset;
  }
  .splitText.cases__item-lid .word {
    line-height: 0.82;
  }
  .cases__item-description {
    font-size: 1.25vw;
    text-align: left;
    justify-self: flex-end;
    width: 30vw;
    margin-top: 24.12vh;
  }
  .animated-button.cases__item-link {
    margin-left: unset;
    margin-top: 3.125vh;
  }
  .cases__item-title {
    font-size: 3.125vw;
    font-weight: 700;
    margin-bottom: 3.33vw;
  }
}
