.case-gallery__container {
  padding-left: 4.44vw;
  padding-right: 4.44vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.22vw;
  row-gap: 4.44vw;

  p {
    text-align: left;
    color: $dark-text-color;
    font-size: 1.6vw;
    line-height: 1.39;
  }
}
.case-gallery--pb-168 {
  padding-bottom: 11.67vw;
}
.case-gallery--pb-192 {
  padding-bottom: 13.33vw;
}
.case-gallery__item {
  //   width: 28.89vw;
  width: calc(86vw / 3);
}
.case-gallery__item-title {
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.39;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > span:last-child {
    color: #5f5d5d;
  }
}
.case-gallery__image-wrapper {
  width: 100%;
  border-radius: 1.11vw;
  overflow: hidden;
  margin-bottom: 1.67vw;
  position: relative;

  .js-open-modal-button {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.33vw;
    height: 3.33vw;
    border-radius: 3.33vw;
    background-color: #ffbdb2;
    bottom: 2.22vw;
    right: 2.22vw;
    cursor: pointer;
    border: none;
  }
  img {
    width: 100%;
  }
}
.case-gallery__image-wrapper:hover {
  .js-open-modal-button {
    visibility: visible;
    pointer-events: all;
    display: flex;
    opacity: 1;
  }
}
