.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3.75vw;
  padding-right: 3.75vw;

  @include for-phone-up {
    width: 480px;
  }

  @include for-wide-phone-up {
    width: 600px;
  }
  @include for-tablet-up {
    width: 768px;
    padding-left: 4.3vw;
    padding-right: 0;
  }
  @include for-wide-tablet-up {
    width: 900px;
  }
  @include for-desktop-up {
    width: 1200px;
  }

  @include for-wide-desktop-up {
    width: 1400px;
  }
}
.container--header {
  position: absolute;
  width: 100%;
  z-index: 10;
  padding-top: 6vw;
  top: 0;
  left: 0;
  // padding-right: 13.25vw;

  > div {
    display: flex;
    align-items: center;
    padding-left: 13.25vw;
    // padding-right: 4vw;

    > div {
      display: flex;
    }
  }

  @include for-tablet-up {
    padding-top: 1.94vw;

    > div {
      padding-left: 4.23vw;
      padding-right: 6.67vw;
    }

    // padding-left: 4.23vw;
    // padding-right: 15.5vw;
    // width: 600px;
  }
  // @include for-wide-tablet-up {
  //   width: 768px;
  // }

  // @include for-desktop-up {
  //   width: 1000px;
  // }

  // @include for-wide-desktop-up {
  //   width: 1200px;
  // }
}
