.counter__container {
  padding-left: 4.44vw;
  padding-right: 4.44vw;
  display: flex;
  justify-content: space-between;
  gap: 2.22vw;
}
.counter__item {
  padding-top: 1.67vw;
  border-top: 0.5px solid #5f5d5d;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 11.67vw;
}
.counter__item-name {
  margin-bottom: 3.33vw;
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.39;
  letter-spacing: -0.03vw;
}
.counter__item-value {
  font-family: $secondary-font-family;
  font-size: 12.5vw;
  line-height: 0.88;
  letter-spacing: 0.125vw;
  text-transform: uppercase;
}
