.guides {
  // padding-top: 8vw;
  // padding-bottom: 19.5vw;

  .animated-button {
    margin-bottom: 10vw;
  }
  &.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 86.25vw;
    height: 86.25vw;
  }
  .guides__title {
    letter-spacing: -0.045em;
    text-align: center;
    font-size: 12.75vw;
    font-weight: 700;
    letter-spacing: -0.026vw;
    line-height: 1;
    margin-bottom: 8vw;
  }
}

@include for-tablet-up {
  .guides {
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .animated-button {
      margin-bottom: 3.33vw;
    }

    img {
      width: 36.53vw;
      height: 36.53vw;
      margin-left: auto;
      margin-right: auto;
    }
    .guides__title {
      margin-left: auto;
      margin-right: auto;
      font-size: 6.25vw;
      line-height: 1.04;
      margin-bottom: 2.22vw;
      max-width: 72vw;
      font-weight: 700;
    }
  }
  .cases--about .guides {
    img {
      width: 28.89vw;
      height: 28.89vw;
    }

    .guides__title {
      margin-bottom: 3.33vw;
    }
  }
}
