.word {
  overflow: hidden;
}

.splitText .word {
  line-height: 1.18;
  overflow: hidden;
  display: inline-block;
  // margin-bottom: -8vw;
}

.splitText .letter {
  margin-bottom: -3vw;
  font-style: normal;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform: translate(0, 160px);
  -ms-transform: translate(0, 160px);
  transform: translate(0, 160px);
  display: inline-block;
}

.is-visible .letter {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.letter {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.05s linear;
  transition: -webkit-transform 0.05s linear;
  -o-transition: transform 0.05s linear;
  transition: transform 0.05s linear;
  transition: transform 0.05s linear, -webkit-transform 0.05s linear;
}

.hero {
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title-wrapper {
    font-size: 10.75vw;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    max-width: 95vw;
    line-height: 0.8;
    // letter-spacing: -0.05em;
    margin-bottom: 8vw;

    .word {
      line-height: 1.18;
    }
  }
  .hero__image-wrapper {
    width: 100vw;
    margin-bottom: 12vw;
    // height: 54.9vw;

    img {
      width: 100%;
    }
  }

  .hero__lid {
    max-width: 86vw;
    text-align: center;
    font-size: 6.5vw;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: -0.035em;
    margin-bottom: 8vw;
  }
}
.hero.hero--home {
  .hero__container {
    padding-bottom: 14vw;
  }
}
@include for-tablet-up {
  .hero {
    .hero__container {
      padding-bottom: 13.33vw;
      padding-left: 4.44vw;
      padding-right: 4.44vw;
    }
    .hero__description {
      margin-bottom: 3.33vw;
    }
    .hero__subdecription {
      margin-bottom: 2.78vw;
    }
    .hero__subdecription.hero__subdecription--no-mb {
      margin-bottom: 0;
    }

    .hero__title-wrapper {
      font-size: 6.25vw;
      // max-width: 69.4vw;
      line-height: 0.7;
      letter-spacing: -0.31vw;
      margin-bottom: 3.33vw;

      max-width: 66vw;
    }
    .hero__title-wrapper.hero__title-wrapper--small-margin {
      margin-bottom: 2.22vw;
    }

    .hero__image-wrapper {
      width: 91.11vw;
      // width: 100%;
      margin-bottom: 5.56vw;
      //   height: 54.9vw;
    }
    .hero__image-wrapper.hero__image-wrapper--smooth-borders {
      img {
        border-radius: 16px;
      }
    }
    .hero__image-wrapper.hero__image-wrapper--small-picture {
      width: 45.45vw;
    }
    .hero__image-wrapper.hero__image-wrapper--margin-70 {
      margin-bottom: 4.86vw;
    }
    .hero__image-wrapper.hero__image-wrapper--process {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70.85vw;
      height: 49.86vw;
      padding-bottom: 2.85vw;
      padding-top: 1.67vw;
    }
    .hero__image-wrapper.hero__image-wrapper--mb-64 {
      margin-bottom: 4.44vw;
    }

    .hero__lid {
      max-width: 60vw;
      font-size: 3.13vw;
      line-height: 1.2;
      margin-bottom: 2.22vw;
    }
  }
  .hero.hero--home {
    .hero__container {
      padding-bottom: 8.33vw;
    }
  }
  .hero.hero--no-bottom-padding {
    .hero__container {
      padding-bottom: 0;
    }
  }
  .hero.hero--pb-168 {
    .hero__container {
      padding-bottom: 11.67vw;
    }
  }
  .hero.hero--pt-168 {
    .hero__container {
      padding-top: 11.67vw;
    }
  }

  // .splitText .word {
  //   margin-bottom: -3vw;
  // }
}
