.word {
  overflow: hidden;
}

.splitText .word {
  line-height: 1.18;
  overflow: hidden;
  display: inline-block;
  // margin-bottom: -8vw;
}

.splitText .letter {
  margin-bottom: -3vw;
  font-style: normal;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform: translate(0, 160px);
  -ms-transform: translate(0, 160px);
  transform: translate(0, 160px);
  display: inline-block;
}

.is-visible .letter {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.letter {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.05s linear;
  transition: -webkit-transform 0.05s linear;
  -o-transition: transform 0.05s linear;
  transition: transform 0.05s linear;
  transition: transform 0.05s linear, -webkit-transform 0.05s linear;
}

.hero {
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14.25vw;
  }

  .hero__title-wrapper {
    font-size: 11.2vw;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    max-width: 95vw;
    line-height: 1.2;
    letter-spacing: -0.5vw;
    margin-bottom: 8vw;

    .word {
      line-height: 1.18;
    }
  }
  .hero__image-wrapper {
    width: 88.04vw;
    height: 89.57vw;

    margin-bottom: 12vw;
    background-size: cover;
    background-position: center;
  }
  .hero__subdecription,
  .hero__description {
    margin-bottom: 8.14vw;
  }
  .hero__page-name {
    margin-bottom: 5vw;
  }
  .hero__lid {
    max-width: 86vw;
    text-align: center;
    font-size: 6.5vw;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: -0.035em;
    margin-bottom: 8vw;
  }
}
.hero.hero--home {
  .hero__container {
    padding-bottom: 14vw;
  }
}
@include for-tablet-up {
  .hero {
    .hero__page-name {
      text-align: center;
      margin-bottom: 1.67vw;
      font-size: 1.6vw;
      font-weight: 500;
      line-height: 1.39;
      letter-spacing: -0.03vw;
    }
    .hero__container {
      padding-bottom: 8.33vw;
      padding-left: 4.44vw;
      padding-right: 4.44vw;
    }
    .hero__description {
      margin-bottom: 3.33vw;
    }
    .hero__subdecription:not(:last-child) {
      margin-bottom: 2.78vw;
    }
    .hero__subdecription.hero__subdecription--no-mb {
      margin-bottom: 0;
    }

    .hero__title-wrapper {
      font-size: 6.25vw;
      // max-width: 69.4vw;
      line-height: 1.04;
      letter-spacing: -0.31vw;
      margin-bottom: 2vw;

      max-width: 66vw;
    }
    .hero__title-wrapper.hero__title-wrapper--small-margin {
      margin-bottom: 2.22vw;
    }
    .hero__title-wrapper.hero__title-wrapper--no-margin {
      margin-bottom: 0;
    }
    .hero__image-wrapper {
      width: 91.11vw;
      margin-bottom: 5.56vw;
      height: 54.93vw;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .hero__image-wrapper--border-radius {
      border-radius: 1.11vw;
      overflow: hidden;
    }
    .hero__image-wrapper.hero__image-wrapper--no-mb {
      margin-bottom: 0;
    }
    .hero__image-wrapper.hero__image-wrapper--smooth-borders {
      img {
        border-radius: 16px;
      }
    }
    .hero__image-wrapper.hero__image-wrapper--small-picture {
      width: 45.45vw;
    }
    .hero__image-wrapper--careers {
      width: 72.92vw;
    }
    .hero__image-wrapper.hero__image-wrapper--margin-70 {
      margin-bottom: 4.86vw;
    }
    .hero__image-wrapper.hero__image-wrapper--process {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70.85vw;
      height: 49.86vw;
      padding-bottom: 2.85vw;
      padding-top: 1.67vw;
    }
    .hero__image-wrapper.hero__image-wrapper--mb-64 {
      margin-bottom: 4.44vw;
    }
    .hero__buttons-wrapper {
      display: flex;
      gap: 1.11vw;
      .animated-button {
        margin-bottom: 0;
        border: 1px solid #5f5d5d;
        color: #5f5d5d;
        font-weight: 500;
      }
    }
    .hero__buttons-wrapper--connection {
      .animated-button {
        width: 12vw;
        border: none;
        color: $dark-text-color;
      }
      .animated-button:first-child {
        background-color: $dark-text-color;
        color: white;
      }
    }
    .hero__lid {
      max-width: 60vw;
      font-size: 3.13vw;
      line-height: 1.2;
      margin-bottom: 2.22vw;
    }
  }

  .hero.hero--no-bottom-padding {
    .hero__container {
      padding-bottom: 0;
    }
  }
  .hero.hero--pb-168 {
    .hero__container {
      padding-bottom: 11.67vw;
    }
  }
  .hero.hero--short {
    .hero__container {
      padding-bottom: 6.67vw;
    }
  }
  .hero.hero--pt-168 {
    .hero__container {
      padding-top: 11.67vw;
    }
  }

  .hero__clear-filter-wrapper {
    display: block;
    padding: 0.76vw 0.83vw 0.76vw 1.11vw;
    border-radius: 2.22vw;
    border: 1px solid #5f5d5d;
    margin-top: 2.5vw;
    margin-left: auto;
    margin-right: auto;

    > button {
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      font-size: 1.25vw;
      color: #5f5d5d;
      font-weight: 500;

      cursor: pointer;

      svg {
        margin-left: 0.27vw;
      }
    }
  }
  .hero__clear-filter-wrapper.is-hidden {
    display: none;
  }
}
