.word {
  overflow: hidden;
}

.splitText .word {
  line-height: 1.18;
  overflow: hidden;
  display: inline-block;
  // margin-bottom: -8vw;
}

.splitText .letter {
  margin-bottom: -3vw;
  font-style: normal;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  -o-transition: transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  -webkit-transform: translate(0, 160px);
  -ms-transform: translate(0, 160px);
  transform: translate(0, 160px);
  display: inline-block;
}

.is-visible .letter {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.letter {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.05s linear;
  transition: -webkit-transform 0.05s linear;
  -o-transition: transform 0.05s linear;
  transition: transform 0.05s linear;
  transition: transform 0.05s linear, -webkit-transform 0.05s linear;
}

.hero {
  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14vw;
  }

  .splitText {
    font-size: 10.75vw;
    text-align: center;
    font-family: inherit;
    font-weight: 700;
    max-width: 95vw;
    line-height: 0.8;
    // letter-spacing: -0.05em;
    &:not(:first-child) {
      margin-bottom: 8vw;
    }
    .word {
      line-height: 1.18;
    }
  }

  img {
    width: 100vw;
    margin-bottom: 12vw;
    // height: 54.9vw;
  }

  .hero__lid {
    max-width: 86vw;
    text-align: center;
    font-size: 6.5vw;
    font-weight: 700;
    line-height: 1.23;
    letter-spacing: -0.035em;
    margin-bottom: 8vw;
  }
  p {
    font-size: 4.25vw;
    max-width: 87.78vw;
    text-align: center;
    line-height: 1.12;
    font-weight: 400;
  }
}

@include for-tablet-up {
  .hero {
    .hero__container {
      padding-bottom: 8.33vw;
      padding-left: 4.44vw;
      padding-right: 4.44vw;
    }
    .hero__description {
      margin-bottom: 3.33vw;
    }
    .hero__subdecription {
      margin-bottom: 2.78vw;
    }
    .splitText {
      font-size: 6.25vw;
      // max-width: 69.4vw;

      line-height: 0.7;
    }
    .splitText:not(:first-child) {
      margin-bottom: 2.22vw;
      max-width: 66vw;
    }
    .splitText:first-child {
      max-width: 59vw;
    }

    img {
      // width: 85.4vw;
      width: 100%;
      margin-bottom: 5.56vw;
      //   height: 54.9vw;
    }

    .hero__lid {
      max-width: 60vw;
      font-size: 3.13vw;
      line-height: 1.2;
      margin-bottom: 2.22vw;
    }
    p {
      font-size: 1.25vw;
      max-width: 60vw;
    }
  }
  // .splitText .word {
  //   margin-bottom: -3vw;
  // }
}
