.info-blocks {
  position: relative;
  background-color: $background-yellow;
}

.info-blocks__item {
  position: relative;
  z-index: 6;
  background-color: $background-yellow;
  transition: background-color 2s ease;
  transition-delay: 1s;
  width: 100%;

  .info-blocks__item-container {
    padding-bottom: 20.5vw;
    padding-top: 8vw;
    padding-left: 6vw;
    padding-right: 6vw;
    background-color: $background-yellow;
    opacity: 1;
    transition: opacity 2s ease;
    transition-delay: 1s;
  }
}
#case-2 {
  z-index: 3;
}
#case-3 {
  z-index: 4;
}
#case-4 {
  z-index: 5;
}
.info-blocks__item.absolute {
  position: absolute;
}
.info-blocks__item.fixed {
  position: sticky;
  top: 0;
  z-index: 2;
}
.info-blocks__item.background-grey {
  background-color: rgba(22, 46, 46);
  transition: background-color 2s ease;
  transition-delay: 1s;

  .info-blocks__item-container {
    opacity: 0.4;
    transition: opacity 2s ease;
    transition-delay: 1s;
  }
}

.info-blocks__item.cases__item--guides {
  .info-blocks__item-container {
    padding-bottom: 15vw;
  }
}

.info-blocks .info-blocks__item-container {
  background-color: $background-yellow;
}

// .cases .cases__item:first-child {
//   z-index: 0;
//   position: absolute;
//   left: 0;
//   top: 0;
// }
// .cases .cases__item:nth-child(2) {
//   position: absolute;
//   bottom: 300%;
//   left: 0;
//   z-index: 2;
//   // animation: cover 1.5s forwards;
//   // animation-delay: 2ms;
// }
// .cases .cases__item:last-child {
//   position: absolute;
//   bottom: 400%;
//   left: 0;
//   z-index: 3;
//   // animation: cover 1.5s forwards;
//   // animation-delay: 2ms;
// }

.info-blocks__item-image {
  display: flex;
  justify-content: center;
  margin-bottom: 8vw;
  margin-right: auto;
  margin-left: auto;

  width: 76.75vw;
  // height: 86.25vw;
}
.info-blocks__item-top {
  display: flex;
  justify-content: space-between;
  font-size: 3.25vw;
  font-weight: 500;
  letter-spacing: -0.013em;
  line-height: 1.31;
  margin-bottom: 6.6vw;

  > div:first-child {
    > span:first-child {
      margin-right: 8vw;
    }
  }
  > div:last-child {
    margin-left: 17.01vw;
  }

  a {
    text-transform: uppercase;
    text-decoration: underline;
    color: inherit;
  }
}
.info-blocks__item-company {
  text-align: center;
  font-size: 5.5vw;
  line-height: 1.27;
  font-weight: 500;
  letter-spacing: -0.0038em;
  margin-bottom: 4vw;
}
.info-blocks__item-lid {
  max-width: 86.25vw;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: 19.5vw;
  font-weight: 900;
  margin-bottom: 8vw;

  line-height: 0.897;
  // margin-bottom: 8vw;
  letter-spacing: 0.1vw;
}
.splitText.cases__item-lid .word {
  line-height: 0.897;
}
.animated-button.info-blocks__item-link {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12vw;
}
.info-blocks__item-description {
  font-size: 4.25vw;
  font-weight: 400;
  text-align: center;
}
@include for-tablet-up {
  .info-blocks {
    padding-top: 11.67vw;
    padding-bottom: 13.33vw;
  }
  .info-blocks--pt-144 {
    padding-top: 10vw;
  }
  .info-blocks--pt-192 {
    padding-top: 13.33vw;
  }
  .info-blocks--no-pt {
    padding-top: 0;
  }
  .info-blocks__item {
    p {
      text-align: left;
    }
    .info-blocks__item-container {
      padding-left: 4.44vw;
      padding-right: 4.44vw;
      padding-bottom: 0;
      padding-top: 0;
    }
  }
  .info-blocks__item:not(:last-child) {
    margin-bottom: 8.33vw;
  }

  .cases__item-text {
    min-width: 36.67vw;
    max-width: 44.44vw;
  }
  .info-blocks__item-image {
    width: 28.89vw;
    // align-self: flex-end;
    display: block;
  }

  .guides__title {
    text-align: left;
    font-size: 3.125vw;
    width: 36.66vw;
  }

  .info-blocks__item.info-blocks__item--guides .info-blocks__item-container {
    padding-bottom: 13.33vw;
  }

  .info-blocks__item-top {
    font-size: 0.97vw;
    // margin-bottom: 3vw;
    justify-content: left;

    > div:first-child {
      > span:first-child {
        margin-right: 4.44vw;
      }
    }
  }
  .info-blocks__item-content {
    display: flex;
    align-items: center;
    gap: 10vw;
    padding-left: 7.78vw;
    padding-right: 7.78vw;
  }

  .info-blocks__item-image {
    max-width: 29.75vw;
    // height: 40vw;
    width: unset;
    margin-right: 0;
    // margin-bottom: 8vw;
    margin-bottom: 0;

    order: 2;
    // margin-left: 10vw;
    img {
      width: 100%;
    }
  }
  .info-blocks__item-company {
    font-size: 1.6vw;
    line-height: 1.39;
    text-align: left;
    // margin-top: 4.9vw;
    margin-bottom: 2.22vw;
  }
  .info-blocks__item-lid {
    max-width: 36.67vw;
    text-align: left;

    font-size: 8.3vw;
    line-height: 0.82;
    letter-spacing: 0.04vw;
    margin-bottom: 2.78vw;
  }
  .splitText.cases__item-lid .word {
    line-height: 0.82;
  }
  .info-blocks__item-description {
    font-size: 1.25vw;
    text-align: left;
  }
  .animated-button.info-blocks__item-link {
    margin-left: unset;
    margin-bottom: 17.15vw;
    margin-top: 2.78vw;
  }
  .info-blocks__item-title {
    font-size: 3.125vw;
    font-weight: 700;
    margin-bottom: 3.33vw;
    line-height: 1.2;
  }
  .info-blocks__paragraphs {
    h4 {
      font-weight: 500;
      font-size: 1.25vw;
      margin-bottom: 1.39vw;
    }
  }
  .info-blocks__paragraphs-item {
    .animated-button {
      margin-top: 2.77vw;
    }
  }
  .info-blocks__paragraphs-item:not(:last-child) {
    margin-bottom: 2.77vw;
  }
  .info-blocks {
    .info-blocks__item:nth-child(even) {
      .cases__item-image {
        order: 1;
      }
      .info-blocks__item-text {
        order: 2;
      }
    }
  }
}
