.insights {
  padding-bottom: 24vw;

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 17vw;
    margin-bottom: 10vw;
    line-height: 1;
    font-weight: 900;
  }
  h4 {
    font-size: 5.5vw;
    font-weight: 500;
    line-height: 1.27;
  }
  img {
    width: 100%;
  }
  .insights__thumb {
    margin-bottom: 4vw;
    width: 86.25vw;
    overflow: hidden;
    border-radius: 16px;
  }
}
.insights__title-wrapper {
  .animated-button {
    display: none;
  }
}
.insights__container {
  padding-left: 6vw;
  padding-right: 6vw;
}
.insights__item:not(:last-child) {
  margin-bottom: 10vw;
}

@include for-tablet-up {
  .insights {
    padding-bottom: 13.33vw;

    h3 {
      text-align: unset;

      font-size: 6.94vw;
      margin-bottom: 4.44vw;
    }

    h4 {
      font-size: 1.6vw;
    }

    .insights__thumb {
      width: 28.89vw;
      margin-bottom: 1.67vw;
    }
  }
  .insights__container {
    padding-left: 4.44vw;
    padding-right: 4.44vw;
  }
  .insights__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .animated-button {
      display: block;
    }
  }
  .insights__wrapper {
    width: 100%;
    display: flex;
    gap: 2.22vw;
  }
  .insights__item {
    width: calc(33% - 1.11vw);
  }
}
