.modal {
  visibility: visible;
  background-color: rgba(22, 46, 46, 0.4);

  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  overflow-y: scroll;

  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  .modal__inner {
    transform: translateX(0);
    transition: transform 0.8s cubic-bezier(0.33, 1, 0.68, 1);

    padding: 4.72vw 4.44vw;
    // opacity: 1;
    z-index: 16;
    //   height: 100%;
    width: 50vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffbdb2;
  }
}
.modal__close-button {
  cursor: pointer;
  width: 3.33vw;
  height: 3.33vw;
  position: absolute;
  top: 1.67vw;
  right: 1.67vw;
  border-radius: 3.33vw;
  background-color: #162e2e;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  // visibility: hidden;
  transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
  .modal__inner {
    transform: translateX(149vw);
    transition: transform 3s cubic-bezier(0.33, 1, 0.68, 1);
  }
}
