.page-header {
  padding-top: 8vw;
  padding-bottom: 8vw;
  margin-bottom: 16vw;

  img {
    width: 37.25vw;
    height: 7.75vw;
  }
}
@include for-tablet-up {
  .page-header {
    padding-top: 2.22vw;
    padding-bottom: unset;
    margin-bottom: 8.3vw;

    img {
      width: 10.65vw;
      height: 2.15vw;
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
