.page-header {
  position: relative;
  padding-top: 8vw;
  padding-bottom: 8vw;
  margin-bottom: 23vw;

  img {
    width: 37.25vw;
    height: 7.75vw;
  }

  .page-header__logo {
    position: fixed;
    top: 6vw;
    left: 4vw;

    display: block;
    width: 9.25vw;
    height: 8vw;
  }
}

@include for-tablet-up {
  .page-header {
    padding-top: 1.67vw;
    padding-bottom: unset;
    margin-bottom: 13.5vw; //8.3vw;

    img {
      width: 10.35vw;
      height: 2.22vw;
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .page-header__logo {
      left: 1.7vw;
      top: 2.25vw;
      width: 2.57vw;
      height: 2.3vw;
    }
  }
}
