$transition: 0.35s;

@mixin line {
  display: inline-block;
  width: 6vw;
  height: 0.375vw;
  background: $dark-text-color;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
@mixin line-desktop {
  display: inline-block;
  width: 1.67vw;
  height: 0.1vw;
  background: $dark-text-color;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
.page-header {
  position: relative;
  padding-top: 8vw;
  padding-bottom: 8vw;
  margin-bottom: 16vw;

  img {
    width: 37.25vw;
    height: 7.75vw;
  }

  .page-header__logo {
    position: fixed;
    top: 6vw;
    left: 4vw;

    display: block;
    width: 9.25vw;
    height: 8vw;
  }
}

.burger-button {
  width: 12vw;
  height: 12vw;
  position: fixed;
  top: 4vw;
  right: 4vw;
  z-index: 12;
  cursor: pointer;
  background-color: $dark-text-color;
  border-radius: 50%;
  border: 0.25vw solid transparent;
  outline: none;
}
.lines {
  @include line;
  position: relative;
  background: transparent;
  // display: flex;
  // justify-content: center;

  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before,
  &:after {
    @include line;
    position: absolute;
    border-radius: 1px;
    right: 0.18vw;
    content: '';
    -webkit-transform-origin: 3vw center;
    -moz-transform-origin: 3vw center;
    -ms-transform-origin: 3vw center;
    transform-origin: 3vw center;
  }
  &:before {
    top: -500%;
    right: 0.18vw;
  }
  &:after {
    top: 100%;
    right: 0.18vw;
  }

  @supports (-webkit-appearance: none) and (not (overflow: -webkit-marquee)) {
    &:before {
      right: 17%;
    }

    &:after {
      right: 17%; /* Adjusted right value for Safari */
    }
  }
  /* Apply different styles for Chrome */
  @supports (-webkit-appearance: none) {
    @supports (-webkit-touch-callout: none) {
      .lines {
        &:before,
        &:after {
          right: 0;
        }
      }
    }
  }
}

.burger-button.x.close {
  background-color: $background-yellow;
  transition: background-color 0.5s ease;
  .lines {
    transition: top 0.3s 0.1s ease, transform 0.3s ease;

    &:before,
    &:after {
      transition: top 0.3s 0.5s ease, transform 0.4s ease;

      background-color: $dark-text-color;
      -webkit-transition: top 0.5s ease, transform 0.6s 0.05s ease,
        background-color 0.5s ease;
      -moz-transition: top 0.5s ease, transform 0.6s 0.05s ease,
        background-color 0.5s ease;
      -ms-transition: top 0.5s ease, transform 0.6s 0.05s ease,
        background-color 0.5s ease;
      transition: top 0.5s ease, transform 0.6s 0.05s ease,
        background-color 0.5s ease;
      top: -1vw;
    }
    &:before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

// .burger-button {
//   position: fixed;
//   top: 4vw;
//   right: 4vw;
//   z-index: 12;
//   cursor: pointer;
//   background-color: $dark-text-color;
//   border: 1px solid transparent;
//   width: 12vw;
//   height: 12vw;
//   border-radius: 50%;
//   display: flex;

//   justify-content: center;
//   align-items: center;
//   svg {
//     position: absolute;
//     transition: all 0.3s ease;
//   }
//   svg:first-child {
//     top: 6vw;
//   }
//   svg:last-child {
//     top: 7.25vw;
//   }
// }
// .burger-button.open {
//   background-color: $background-yellow;
//   position: absolute;
//   z-index: 50;

//   path {
//     stroke: $dark-text-color;
//   }
//   svg:first-child {
//     transform: rotate(45deg) translate(-0vw, 0.35vw);
//   }
//   svg:last-child {
//     transform: rotate(-45deg) translate(0.25vw, -0.1vw);
//   }
// }
@include for-tablet-up {
  .lines {
    @include line-desktop();
    position: relative;
    background: transparent;

    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before,
    &:after {
      @include line-desktop();
      position: absolute;
      left: 0;
      content: '';
      -webkit-transform-origin: 6vw center;
      -moz-transform-origin: 6vw center;
      -ms-transform-origin: 6vw center;
      transform-origin: 6vw center;
    }
    &:before {
      top: 7.25vw;
    }
    &:after {
      top: 6vw;
    }
  }
  .burger-button.x.close {
    .lines {
      transition: top 0.3s 0.1s ease, transform 0.1s ease;

      &:before,
      &:after {
        top: -0.3vw;
      }
    }
  }
  .page-header {
    padding-top: 1.67vw;
    padding-bottom: unset;
    margin-bottom: 8.3vw;

    img {
      width: 10.65vw;
      height: 2.15vw;
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .page-header__logo {
      left: 1.7vw;
      top: 2.25vw;
      width: 2.57vw;
      height: 2.3vw;
    }
  }
  .burger-button {
    width: 3.33vw;
    height: 3.33vw;
    right: 1.67vw;
    top: 1.67vw;

    .lines {
      &:before,
      &:after {
        @include line-desktop;
        position: absolute;
        left: 0;
        content: '';
        -webkit-transform-origin: 0 center;
        -moz-transform-origin: 0 center;
        -ms-transform-origin: 0 center;
        transform-origin: 0 center;
      }
      &:before {
        top: -0vw;
      }
      &:after {
        top: -0.5vw;
      }
    }

    // svg:first-child {
    //   top: 0.7vw;
    // }
    // svg:last-child {
    //   top: 1.2vw;
    // }
  }
}

.burger-button.x .lines {
  &:before,
  &:after {
    background-color: $background-yellow;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: top 0.3s 0.1s ease, transform 0.1s ease;
  }
}
