$dark-text-color: #162e2e;
$background-yellow: #fbf7ec;
$white-text: #fcfbf9;
$violet-accent-text: #d3c1ff;

$primary-font-family: 'dm_sans9pt_regular';
$secondary-font-family: 'Arges-NormalHeavy', sans-serif;
