.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  width: 1px !important;
  margin: -1px;
  padding: 0 !important;
  border: none !important;
  overflow: hidden;
  opacity: 0;

  transition: opacity 0.07s ease;
}
